/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Inter&family=League+Gothic&family=Montserrat:wght@400;500&family=Oswald&family=Poppins:ital,wght@0,500;1,400&family=Roboto+Slab:wght@300&display=swap");
/* Navbar-Start */
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding-right: 34px;
}

nav ul li a {
  text-decoration: none;
}
